.text-3d {
    /* text-transform: uppercase; */
    font-size: 4rem;
    text-shadow:
        0 3px 5px rgba(0, 0, 0, 0.1), 0 5px 10px rgba(0, 0, 0, 0.15),
        0 7px 10px rgba(0, 0, 0, 0.2), 0 10px 15px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease-in-out;
    text-align: center;
}

.header{
    padding: 4rem 0 3rem 0;
}

@media (max-width: 481px) {
    .text-3d{
        font-size: 3rem;
    }
}